#root {
  margin: 0 auto;

  /* padding: 2rem; */
}

.np-container {
  display: flex;
  flex-direction: column;
}
.np-body {
  background-color: #91684b;
  padding: 4px;
  .np-body-page {
    background-color: white;
  }
}
.notepad {
  background-color: #f5f5f5;
}

.completed {
  text-decoration: line-through;
}

.todo {
  border-top: 1px solid #c4c4c4;
  padding: 10px;
  display: flex;
  flex-direction: row;
  p {
    margin: 0px;
  }
}
